apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: sla-postgres
  labels:
    app: sla-postgres
spec:
  serviceName: postgres
  replicas: 1
  selector:
    matchLabels:
      app: sla-postgres
  template:
    metadata:
      labels:
        app: sla-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:14
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: sla_ping_monitor
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: sla-postgres-secret
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
