apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: sla-ping-monitor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: sla-ping-monitor-backend:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres:5432/postgres
            - name: SPRING_DATASOURCE_USERNAME
              value: postgres
            - name: SPRING_DATASOURCE_PASSWORD
              value: postgres
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: sla-ping-monitor
spec:
  selector:
    app: backend
  type: LoadBalancer
  ports:
    - port: 8080
      targetPort: 8080
