apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: sla-ping-monitor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: postgres
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              value: postgres
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          emptyDir: { }
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: sla-ping-monitor
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
