version: "3.8"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  backend:
    build:
      context: ..
      dockerfile: deploy/backend/Dockerfile
    image: sla-ping-monitor-backend:local
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  frontend:
    build:
      context: ..
      dockerfile: deploy/frontend/Dockerfile
      args:
        NEXT_PUBLIC_API_BASE_URL: http://194.87.82.168:30081
    image: sla-ping-monitor-frontend:local
    environment:
      NEXT_PUBLIC_API_BASE_URL: http://194.87.82.168:30081
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres-data:
