apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sla-frontend
  labels:
    app: sla-frontend
spec:
  ingressClassName: traefik
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 3000
