apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: sla-frontend
spec:
  selector:
    app: sla-frontend
  ports:
    - name: http
      port: 3000
      targetPort: 3000
  type: ClusterIP
