apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: sla-backend
spec:
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
